//columns
.section-columns{
	padding:15px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-flow:row no-wrap;
	justify-content:space-between;

	.placeholder-column{
		flex: 1 0 22%;
		box-sizing:border-box;
		border:3px dashed #2ea2cc;
		background:none;
		box-shadow:none;
		margin:0 15px 15px 0;
	}

	.column{
		flex: 1 0 22%;
		box-sizing:border-box;
		background:#f9f9f9;
		box-shadow:inset 0 0 10px rgba(0,0,0,.2);
		border-radius:3px;
		margin:0 15px 15px 0;
		border:1px solid #ccc;
		position:relative;
		padding:15px 15px 55px 15px;
		text-align:center;
		font-weight:bold;


		.chosen-container-single{
			.chosen-single{
				background:#fff;
				text-align:left;
				font-weight:normal;
				font-size:17px;
				height:32px;
	
				span{
					line-height:30px;
				}
	
				div b{
					background-position:0px 5px;
				}
			}

			&.chosen-with-drop{

				.chosen-single, .chosen-drop{
					width:calc( 100% + 40px ) !important;
				}

				.chosen-single{
					z-index: 999;
					div b{
						background-position:-18px 5px;
					}
				}
			}

			.chosen-results li{
				text-align:left;
				font-size:16px;
				padding:4px 8px;
				font-weight:normal;
			}
		}

		.btn-row{
			box-sizing:border-box;
			position:absolute;
			bottom:10px;
			left:0;
			right:0;
			padding:10px 10px 0 0;
			border-top:1px solid #ccc;
			display:block;
			text-align:right;
		}


		.column-controls{
			position:relative;
			
			.field-wrapper{
				box-sizing:border-box;
				width:100%;
				padding-right:40px;
			}

			.sort{
				position:absolute;
				top:0;
				right:0;
				font-size:18px;
				cursor:col-resize;
				padding:5px 6px;
				text-align:center;
				margin-left:0;
				margin-right:0;
				border-radius:3px;
				border:1px solid transparent;

				&:hover{
					background:#2ea2cc;
					border-color:darken( #2ea2cc, 20% );
					color:#fff;
				}
			}

		}

		.template-snitch{
			.tooltip{
				text-align:left;
			}
		}
	}

	&.half-half .column:first-child{margin-right:30px;}

	&.sidebar-right .column{flex:1;margin-right:0;}	
	&.sidebar-right .column:first-child{flex:2;margin-right:5%;}

	&.sidebar-left .column{flex: 2;}
	&.sidebar-left .column:first-child{flex:1;margin-right:5%;}

	&.three-columns .column:nth-child(2){margin-right:5%;margin-left:5%;}

	&.four-columns .column{margin-right:2%;}
	&.four-columns .column:last-of-type{margin-right:0;}
}

//Lightbox
.lightbox{
	display:none;
	z-index:2000;
	background:#fff;
	border:1px solid #eee;
	box-shadow:0 0 10px rgba(0,0,0,.3);
	position:fixed;
	top:50px;
	left:50%;
	margin-left:-400px;
	width:850px;
	height:600px;

	&.active{
		display:block;

	}

	.field-wrapper.checkbox{
		text-align:left;
		> label{
			display:block;
			width:100%;
		}

		.subfield-wrapper{
			display:inline-block;
			padding-right:20px;
			float:none;
		}


	}

	.main-content{
		box-sizing:border-box;
		width:75%;
		padding:30px;
		float:left;
		max-height: 100%;
		overflow-y: scroll;

		.mce-edit-area{
			min-height:300px;
		}
	}

	.side-content{
		box-sizing:border-box;
		background:#F9F9F9;
		position:relative;
		padding:15px;
		width:25%;
		position:absolute;
		top:0;
		right:0;
		border-left:1px solid #eee;
		bottom:0;

		.lightbox-modal-close{
			position:absolute;
			top:10px;
			right:10px;
			width:30px;
			height:30px;
			border:0;
			text-decoration:none;
			.media-modal-icon{
				display: block;
				margin-top: 5px;
				width: 30px;
				height: 15px;
				background-image: none;
				text-align: center;
				border:0;
				&:before{
					content: '\f158';
					font: normal 20px/1 'dashicons';
					speak: none;
					vertical-align: middle;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: #666;
				}
			}

			&:hover{
				.media-modal-icon:before{
					color:#2ea2cc !important;
				}
			}
		}

		.save-btn-container{
			position:absolute;
			bottom:30px;
			width:100%;
			text-align:center;

			button{
				padding:15px 20px;
			}
		}
	}

}

//previews:
.preview-col{
	position:relative;
	display:block;
	text-align:left;

	h1, h2, h3, h4, p{
		color:#666;
		padding:0;
		margin:0 0 10px 0;
	}

	p{
		color:#bbb;
		padding-right:30px;
	}

	strong{
		display:block;
		width:100%;
		text-align:center;
		padding-bottom:10px;
	}

	.blocks-preview{
		text-align:center;
		margin-bottom:10px;
		.brick{
			display:inline-block;
			width:55px;
			height:55px;
			background:#444;
			margin-right:4px;
		}
	}

	.details{
		position:absolute;
		left:2px;
		bottom:-40px;
		font-size:14px;
		font-weight:normal;
		color:#ccc;
	}

	.dashicons{
		height:110px;
		font-size:90px;
		color:#444;
		width:100%;
		text-align:center;
	}

	.img-wrapper{
		width:90%;
		text-align:center;
		padding-bottom:15px;
		img{
			max-width:100%;
			height:auto;
			border:5px solid #fff;
			box-shadow:1px 1px 5px rgba(0,0,0,.5) ;
		}
	}
}
