.section-wrapper, .section-wrapper .column{
	position:relative;
	.loader{
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba( 255,255,255,.6 );
		text-align:center;
		z-index:999;
		display:none;

		.spinner{
			position:absolute;
			left:47.5%;
			top:45%;
			display:inline-block;
		}

		&.show{
			display:block;
		}
	}
}

.section-wrapper{
	border:1px solid #e5e5e5;
	box-shadow:0 1px 1px rgba(0,0,0,0.04);
	background:#fff;
	margin-top:30px;


	.section-footer{
		-webkit-transition: opacity .3s; /* Safari */
		transition: opacity .3s;
		border-top:1px solid #ccc;
		width:100%;
		padding:3px 0;
		opacity:.5;
		.delete-section{
			display:inline-block;
			color:red;
			font-size:13px;
			text-decoration:none;
			margin-left:15px;
			cursor:pointer;

			.dashicons{
				font-size:15px;
			}

			&:hover{
				color:#444;
			}
		}

		&:hover{
			opacity:1;
		}
	}


	.section-controls{
		width:90%;
		padding:8px 12px;
		border-bottom:1px solid #e5e5e5;
		height:50px;
		position:relative;

		.pin{
			position:absolute;
			right:-35px;
			top:15px;
			font-size:32px;
			color: #444;
			cursor:pointer;
			&:hover{
				color:#00a3cf;
			}
		}

		.field-wrapper{
			float:left;
			text-align:center;
			&.text{
				width:35%;
			}
			&.checkbox{
				box-sizing:border-box;
				width:5%;
				position:relative;
				padding:20px 0 0 15px;

				.input-field{
					width:0px;
					height:0px;
					margin-right:10px;
					display:block;
					border:0;
					outline:none;
					overflow:none;

					&:after{
						display:inline-block;
						content: "\f177";
						font: normal 20px/1 'dashicons';
						speak: none;
						vertical-align: middle;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						color: #666;
					}

					&:checked{
						background:#fff;
						&:after{
							content: "\f153";
						}
						&:before{
							display:none;
						}
					}

					&:hover{
						&:after{
							color:#00a3cf;
						}
					}
					
				}

				label{
					position:absolute;
					top:-55px;
					left:-5%;
					display:inline-block;
					padding:4px 8px;
					background:rgba(0,0,0,.8);
					color:#fff;
					display:none;

					&:after{
						position:absolute;
						top:100%;
						left:20px;
						content:'';
						border:6px solid rgba(0,0,0,.8);
						border-color:rgba(0,0,0,.8) transparent transparent transparent;
					}
				}

				.input-field:hover + label{
					display:block;
				}
			}

			&.radio{
				width:60%;
			}

		}

		.radio{
			float:right;
			text-align:right;
			padding-top:10px;

			> span{
				width:32px;
				height:22px;
				background:url('../images/fullwidth.png');
				background-repeat:no-repeat;
				display:inline-block;
				margin-left:10px;

				&.half-half{
					background:url('../images/half-half.png');
				}

				&.sidebar-right{
					background:url('../images/sidebar-right.png');
				}

				&.sidebar-left{
					background:url('../images/sidebar-left.png');
				}

				&.three-columns{
					background:url('../images/three-cols.png');
				}

				&.four-columns{
					background:url('../images/four-cols.png');
				}
			}


			label{
				width:30px;
				height:20px;
				padding:3px;
				border:1px solid #e5e5e5;
				margin:-3px 0 0 -3px;
				box-shadow:0 0 2px rgba(0,0,0,.1);
			}

			input{
				display:none;
			}

			input:checked + label,
			label:hover{
				border-color:#444;
			}

			> label{
				background:none;
				box-shadow:none;
				display:inline-block;
				width:auto;
				border:0;
				padding:0 15px 0 0;
			}


		}
	}


	&.msg p{
		font-weight:bold;
		text-align:center;
		font-size:18px;	
	}

	&.dotted-bg{
		padding:15px 0;
		background:none;
		border:3px dashed #ccc;
		text-align:center;
		box-shadow:0;
	}
}

.section-placeholder{
	display:block;
	width:100%;
	height:150px;
	border:5px dashed #2ea2cc;
	background:none;
	margin-top:30px;
}


.template-snitch{
	float:right;
	position:relative;
	margin:10px 15px 0 0;
	.tooltip{
		position:absolute;
		top:100%;
		margin-top:10px;
		background:rgba(0,0,0,.8);
		padding:12px 12px 0 12px;
		color:#fff;
		display:none;
		white-space:nowrap;
		z-index:9999;
		&:before{
			position:absolute;
			content:'';
			width:0;
			height:0;
			border:5px solid rgba(0,0,0,.8);
			top:-10px;
			left:5px;
			border-color:transparent transparent rgba(0,0,0,.8) transparent;
		}
	}

	&:hover{
		.tooltip{
			display:block;
		}
	}
}

.lightbox{

	label{
		text-align:left;
	}

	.side-content{
		.subfield-wrapper{
			text-align:left;
			width:100%;
			display:block;
			clear:both;

			label, input{
				display:inline-block;
				width:auto !important;
			}
		}

		.field-wrapper.radio{
			padding-bottom:15px;
			border-bottom:1px solid #ddd;
		}
	}

}




.section-btn{
	background: #2ea2cc;
  	box-shadow: inset 0 1px 0 rgba( 120, 200, 230, 0.5 ), 0 1px 0 rgba( 0, 0, 0, 0.15 );
  	color: #fff;
  	text-decoration: none;
  	border-radius:3px;
  	padding:7px 14px;
  	border:1px solid #0074a2;
  	cursor:pointer;
  	&:hover{
  		background:#1e8cbe;
  	}
}