

/**
 * Template search:
 */

#tempSearch{
	position: absolute;
	left: 50%;
	width: 300px;
	background: #fff;
	-webkit-filter: drop-shadow( 0 0 5px rgba(0,0,0,.3) ); /* Safari */
    filter: drop-shadow( 0 0 5px rgba(0,0,0,.3) );
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: 15px 0 0 -150px;
    z-index: 999;

    strong{
    	color: #444;
    	font-size: 15px;
    	display: block;
    	padding-bottom: 10px;
    	text-align: left;
    	padding-right: 30px;
    }

    select{
    	width: 100%;
    }

    #closeSearch{
    	float:right;
    	color: #444;

    	&:hover{
    		color: #2ea2cc;
    	}
    }

    .chosen-container{
    	display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-webkit-flex-direction: column;
    	-ms-flex-direction: column;
    	flex-direction: column;
    	-webkit-flex-wrap: nowrap;
    	-ms-flex-wrap: nowrap;
    	flex-wrap: nowrap;

    	.chosen-drop{
    		width: 100%;
    		-webkit-flex: 1;
    		-ms-flex: 1;
    		flex: 1;
    		display: block !important;
    		left: 0px !important;
    		position: relative !important;
    		border: 0 !important;
    		box-shadow: none !important;

    		.chosen-search{
    			margin-bottom: 15px;
    		}
    	
    		.chosen-results{
    			text-align: left;

    			li, li.result-selected{
    				background: #f8f8f8;
    				border: 1px solid #ccc;
    				margin-bottom: 5px;
    				border-radius: 3px;
    				font-size: 14px;
    				color: #444;

    				&.highlighted{
    					border-color: #2ea2cc;
    					background: #2ea2cc;
    					color: #fff;
    				}
    			}
    		}
    	}
    	.chosen-single{
    		/*-webkit-order: 2;
    		-ms-flex-order: 2;
    		order: 2;
    		background: #2ea2cc;
    		border-radius: 0;
    		color: #fff;
    		order: 2;*/
    		display: none;
    	}
    }

    &:after{
    	content: '';
    	width: 0;
    	height: 0;
    	border: 10px solid white;
    	border-color: transparent transparent white transparent;
    	position: absolute;
    	top: -20px;
    	left: 50%;
    	margin-left: -5px;
    }
}