.section-wrapper, .section-wrapper .column {
  position: relative;
}
.section-wrapper .loader, .section-wrapper .column .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  z-index: 999;
  display: none;
}
.section-wrapper .loader .spinner, .section-wrapper .column .loader .spinner {
  position: absolute;
  left: 47.5%;
  top: 45%;
  display: inline-block;
  visibility: visible;
}
.section-wrapper .loader.show, .section-wrapper .column .loader.show {
  display: block;
}

.section-wrapper {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fff;
  margin-top: 30px;
}
.section-wrapper .section-footer {
  -webkit-transition: opacity .3s;
  /* Safari */
  transition: opacity .3s;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 3px 0;
  opacity: .5;
}
.section-wrapper .section-footer .delete-section {
  display: inline-block;
  color: red;
  font-size: 13px;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
}
.section-wrapper .section-footer .delete-section .dashicons {
  font-size: 15px;
}
.section-wrapper .section-footer .delete-section:hover {
  color: #444;
}
.section-wrapper .section-footer:hover {
  opacity: 1;
}
.section-wrapper .section-controls {
  width: 90%;
  padding: 8px 12px;
  border-bottom: 1px solid #e5e5e5;
  height: 50px;
  position: relative;
}
.section-wrapper .section-controls .pin {
  position: absolute;
  right: -35px;
  top: 15px;
  font-size: 32px;
  color: #444;
  cursor: pointer;
}
.section-wrapper .section-controls .pin:hover {
  color: #00a3cf;
}
.section-wrapper .section-controls .field-wrapper {
  float: left;
  text-align: center;
}
.section-wrapper .section-controls .field-wrapper.text {
  width: 35%;
}
.section-wrapper .section-controls .field-wrapper.checkbox {
  box-sizing: border-box;
  width: 5%;
  position: relative;
  padding: 20px 0 0 15px;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field {
  width: 0px;
  height: 0px;
  margin-right: 10px;
  display: block;
  border: 0;
  outline: none;
  overflow: none;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:after {
  display: inline-block;
  content: "\f177";
  font: normal 20px/1 'dashicons';
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:checked {
  background: #fff;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:checked:after {
  content: "\f153";
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:checked:before {
  display: none;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:hover:after {
  color: #00a3cf;
}
.section-wrapper .section-controls .field-wrapper.checkbox label {
  position: absolute;
  top: -55px;
  left: -5%;
  display: inline-block;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
}
.section-wrapper .section-controls .field-wrapper.checkbox label:after {
  position: absolute;
  top: 100%;
  left: 20px;
  content: '';
  border: 6px solid rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}
.section-wrapper .section-controls .field-wrapper.checkbox .input-field:hover + label {
  display: block;
}
.section-wrapper .section-controls .field-wrapper.radio {
  width: 80%;
}
.section-wrapper .section-controls .radio {
  float: right;
  text-align: right;
  padding-top: 10px;
}
.section-wrapper .section-controls .radio label {
  width: 30px;
  height: 20px;
  padding: 3px;
  border: 1px solid #e5e5e5;
  margin: -3px 0 0 -3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
}
.section-wrapper .section-controls .radio > span {
  width: 32px;
  height: 22px;
  background: url("../images/fullwidth.png");
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10px;
}
.section-wrapper .section-controls .radio > span.fullwidth label, .section-wrapper .section-controls .radio > span.half-half label, .section-wrapper .section-controls .radio > span.sidebar-right label, .section-wrapper .section-controls .radio > span.sidebar-left label, .section-wrapper .section-controls .radio > span.three-columns label, .section-wrapper .section-controls .radio > span.four-columns label {
  text-indent: -9999px;
}
.section-wrapper .section-controls .radio > span.half-half {
  background: url("../images/half-half.png");
}
.section-wrapper .section-controls .radio > span.sidebar-right {
  background: url("../images/sidebar-right.png");
}
.section-wrapper .section-controls .radio > span.sidebar-left {
  background: url("../images/sidebar-left.png");
}
.section-wrapper .section-controls .radio > span.three-columns {
  background: url("../images/three-cols.png");
}
.section-wrapper .section-controls .radio > span.four-columns {
  background: url("../images/four-cols.png");
}
.section-wrapper .section-controls .radio input {
  display: none;
}
.section-wrapper .section-controls .radio input:checked + label,
.section-wrapper .section-controls .radio label:hover {
  border-color: #444;
}
.section-wrapper .section-controls .radio > label {
  background: none;
  box-shadow: none;
  display: inline-block;
  width: auto;
  border: 0;
  padding: 0 15px 0 0;
}
.section-wrapper .section-settings-btn {
  padding-left: 5px;
  padding-right: 10px;
  margin-top: 10px;
  vertical-align: middle;
}
.section-wrapper .section-settings-btn span {
  vertical-align: middle;
  padding-right: 10px;
}
.section-wrapper .section-settings {
  box-sizing: border-box;
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  top: 72px;
  left: 2%;
  width: 96%;
  height: auto;
  padding: 15px;
  z-index: 99;
  border-radius: 5px;
}
.section-wrapper .section-settings:before {
  content: '';
  width: 0;
  height: 0;
  border: 9px solid rgba(0, 0, 0, 0.75);
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
  position: absolute;
  top: -18px;
  left: 30px;
}
.section-wrapper .section-settings label, .section-wrapper .section-settings p {
  color: #fff;
}
.section-wrapper .section-settings.active {
  display: block;
}
.section-wrapper .section-settings .field-wrapper.checkboxes .subfield-wrapper {
  display: inline-block;
  width: 50%;
}
.section-wrapper .section-settings .field-wrapper.checkboxes > label {
  display: block;
  width: 100%;
}
.section-wrapper .section-settings .field-wrapper.checkboxes .subfield-wrapper > input {
  width: 16px;
  height: 16px;
}
.section-wrapper .section-settings .field-wrapper.checkboxes .subfield-wrapper > label {
  display: inline-block;
  width: auto;
}
.section-wrapper.msg {
  position: relative;
}
.section-wrapper.msg p {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.section-wrapper.msg.loading p {
  color: #fff;
}
.section-wrapper.msg.loading .spinner {
  position: absolute;
  left: 47.5%;
  top: 25%;
  display: inline-block;
  visibility: visible;
}
.section-wrapper.dotted-bg {
  padding: 15px 0;
  background: none;
  border: 3px dashed #ccc;
  text-align: center;
  box-shadow: 0;
}
.section-wrapper.dotted-bg .section-btn {
  width: auto;
  display: inline-block;
}
.section-wrapper.dotted-bg em {
  padding: 0 20px;
}
.section-wrapper.reference .field-wrapper.radio {
  opacity: .3;
  pointer-events: none !important;
}
.section-wrapper.reference .section-columns {
  background: #fff;
}
.section-wrapper.reference .section-columns .button {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -70px;
}
.section-wrapper.reference .section-columns .template-txt {
  position: absolute;
  display: block;
  top: 25%;
  font-size: 16px;
  font-weight: bold;
  line-height: 150%;
  padding-left: 25%;
  padding-right: 25%;
  left: 0;
  right: 0;
  text-align: center;
}
.section-wrapper.reference .column {
  opacity: .15;
  pointer-events: none !important;
}

.section-placeholder {
  display: block;
  width: 100%;
  height: 150px;
  border: 5px dashed #2ea2cc;
  background: none;
  margin-top: 30px;
}

.template-snitch {
  float: right;
  position: relative;
  margin: 10px 15px 0 0;
}
.template-snitch .tooltip {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.8);
  padding: 12px 12px 0 12px;
  color: #fff;
  display: none;
  white-space: nowrap;
  z-index: 9999;
}
.template-snitch .tooltip:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid rgba(0, 0, 0, 0.8);
  top: -10px;
  left: 5px;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
.template-snitch:hover .tooltip {
  display: block;
}

.lightbox label {
  text-align: left;
}
.lightbox .side-content .subfield-wrapper {
  text-align: left;
  width: 100%;
  display: block;
  clear: both;
}
.lightbox .side-content .subfield-wrapper label, .lightbox .side-content .subfield-wrapper input {
  display: inline-block;
  width: auto !important;
}
.lightbox .side-content .field-wrapper.radio {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.field-wrapper.not-visible {
  display: none !important;
}

.section-btn {
  background: #2ea2cc;
  box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  padding: 7px 14px;
  border: 1px solid #0074a2;
  cursor: pointer;
}
.section-btn:hover {
  background: #1e8cbe;
}

.section-columns {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-between;
}
.section-columns .column {
  flex: 1 0 22%;
  box-sizing: border-box;
  background: #f9f9f9;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin: 0 15px 15px 0;
  border: 1px solid #ccc;
  position: relative;
  padding: 15px 15px 55px 15px;
  text-align: center;
  font-weight: bold;
}
.section-columns .column .btn-row {
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  padding: 10px 10px 0 0;
  border-top: 1px solid #ccc;
  display: block;
  text-align: right;
}
.section-columns .column .column-controls {
  position: relative;
}
.section-columns .column .column-controls .field-wrapper {
  width: 90%;
}
.section-columns .column .column-controls .template-snitch {
  position: absolute;
  top: -5px;
  right: -20px;
}
.section-columns .column .column-controls .template-snitch .tooltip {
  text-align: left;
}
.section-columns.half-half .column:first-child {
  margin-right: 5%;
}
.section-columns.sidebar-right .column:first-child {
  flex: 2;
  margin-right: 5%;
}
.section-columns.sidebar-left .column {
  flex: 2;
}
.section-columns.sidebar-left .column:first-child {
  flex: 1;
  margin-right: 5%;
}
.section-columns.three-columns .column:nth-child(2) {
  margin-right: 5%;
  margin-left: 5%;
}
.section-columns.four-columns .column {
  margin-right: 2%;
}
.section-columns.four-columns .column:last-of-type {
  margin-right: 0;
}

.lightbox {
  display: none;
  z-index: 2000;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -400px;
  width: 850px;
  height: 600px;
}
.lightbox.active {
  display: block;
}
.lightbox .field-wrapper.checkbox {
  text-align: left;
}
.lightbox .field-wrapper.checkbox > label {
  display: block;
  width: 100%;
}
.lightbox .field-wrapper.checkbox .subfield-wrapper {
  display: inline-block;
  padding-right: 20px;
  float: none;
}
.lightbox .main-content {
  box-sizing: border-box;
  width: 75%;
  padding: 30px;
  float: left;
  max-height: 100%;
  overflow-y: scroll;
}
.lightbox .main-content .mce-edit-area {
  min-height: 300px;
}
.lightbox .side-content {
  box-sizing: border-box;
  background: #F9F9F9;
  position: relative;
  padding: 15px;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #eee;
  bottom: 0;
}
.lightbox .side-content .lightbox-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  text-decoration: none;
}
.lightbox .side-content .lightbox-modal-close .media-modal-icon {
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 15px;
  background-image: none;
  text-align: center;
  border: 0;
}
.lightbox .side-content .lightbox-modal-close .media-modal-icon:before {
  content: '\f158';
  font: normal 20px/1 'dashicons';
  speak: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #666;
}
.lightbox .side-content .lightbox-modal-close:hover .media-modal-icon:before {
  color: #2ea2cc !important;
}
.lightbox .side-content .save-btn-container {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.lightbox .side-content .save-btn-container button {
  padding: 15px 20px;
}

.preview-col {
  position: relative;
  display: block;
  text-align: left;
}
.preview-col h1, .preview-col h2, .preview-col h3, .preview-col h4, .preview-col p {
  color: #666;
  padding: 0;
  margin: 0 0 10px 0;
}
.preview-col p {
  color: #bbb;
  padding-right: 30px;
}
.preview-col strong {
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.preview-col .blocks-preview {
  text-align: center;
  margin-bottom: 10px;
}
.preview-col .blocks-preview .brick {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: #444;
  margin-right: 4px;
}
.preview-col .details {
  position: absolute;
  left: 2px;
  bottom: -40px;
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
}
.preview-col .dashicons {
  height: 110px;
  font-size: 90px;
  color: #444;
  width: 100%;
  text-align: center;
}
.preview-col .img-wrapper {
  width: 90%;
  text-align: center;
  padding-bottom: 15px;
}
.preview-col .img-wrapper img {
  max-width: 100%;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.5.1
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2016 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.chosen-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.chosen-container.chosen-with-drop .chosen-drop {
  left: 0;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -moz-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: -o-linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url("../images/chosen-sprite.png") no-repeat 100% -20px;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -moz-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: -o-linear-gradient(#eeeeee 20%, #ffffff 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url("../images/chosen-sprite.png") no-repeat -30px -20px;
  background: url("../images/chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("../images/chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}
/* @end */
.tax-select-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}
.tax-select-wrapper select, .tax-select-wrapper .chosen-container {
  margin-right: 15px;
}
.tax-select-wrapper .chosen-container {
  flex: 1 0;
}
.tax-select-wrapper .chosen-container .chosen-choices {
  border-radius: 5px !important;
}
.tax-select-wrapper .chosen-container ul .default {
  color: #eee;
  font-weight: normal;
  display: block !important;
}
.tax-select-wrapper .add-remove {
  width: 80px;
}
.tax-select-wrapper .add-remove .add-remove-btn {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #444;
  color: #fff;
  padding-top: 5px;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.tax-select-wrapper .add-remove .add-remove-btn:hover {
  background: #2ea2cc;
}

.msg-add-remove {
  padding: 4px 8px;
  background: #2ea2cc;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.msg-add-remove:hover {
  background: #444;
}

.lightbox-collection .main-content {
  padding-bottom: 100px;
}

/*# sourceMappingURL=admin.css.map */
